body {
    text-align: center;
}

/* 新增样式 */
.container {
    display: flex;
    justify-content: center;
}

form {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    background-color: #fff;
    text-align: left;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}


input[type="text"], input[type="date"], input[type="password"], input[type="datetime-local"] {
    width: 200px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    vertical-align: top;
}

textarea {
    width: 200px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    vertical-align: top;
}

input[type="submit"] {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}


input[type="submit"]:hover {
    background-color: #1E88E5;
    transform: scale(1.05);
}

p {
    margin-top: 20px;
    font-size: 14px;
}

/* 新增样式 */
#errorMsg {
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    background-color: #FFEBEE;
    color: #C62828;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
}
